*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #25a1c4;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images>h1{
    text-align: center;
    margin-bottom: 10px;
}
.calculater{
    background: #3a4452;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
}
#disinput:hover{
    background-color: #4ac8faa9;

}
.calculater form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 6px -3px 15px rgba(245, 246, 247, 0.226),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #3a4452;
    font: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.calculater form input:hover{
    background-color: rgba(241, 69, 16, 0.568);
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    
}
form .display input{
    text-align: right;
    flex: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 45px;
    box-shadow: none;
    background-color: rgb(27, 12, 112);
}
form input.equal{
    width: 145px;
    background-color: rgba(27, 12, 112);
}
form input.operator{
    color: #33ffd8;
}