*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #25a1c4;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images>h1{
    text-align: center;
    margin-bottom: 10px;
    color: #f0d5d5;
}
.calculater{
    background: #3a4452;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
}
#disinput:hover{
    background-color: #e31cf5a9;

}
.calculater form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 6px -3px 15px rgba(245, 246, 247, 0.226),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #3a4452;
    font: 30px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.calculater form input:hover{
    background-color:#eb1cd96e;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    
}
form .display #disinput{
    text-align: right;
    flex: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 45px;
    box-shadow: none;
    background-color: rgb(27, 12, 112);
}
form input.equal{
    width: 145px;
    background-color: rgba(27, 12, 112);
}
form input.operator{
    color: #33ffd8;
}
.images>h1>hr{
    width: 80%;
    margin-left: 32px;
    height: 7px;
    border-radius: 53%;
    background: linear-gradient(to right,red,pink,grey,green);

}
.images>h1>hr:hover{
    width: 50%;
}

@media(max-width: 425px){
     
.calculater form input{
    margin: -10px;
}
form .display #disinput{
    margin-bottom: 20px;
    margin-top: 10px;
}

}