*,::before,::after{ margin:0; box-sizing: border-box;}
a{ text-decoration: none;}
button{  cursor: pointer; padding: 0;}
img{ vertical-align: bottom;}
iframe{ border: none;}
:disabled{ cursor: not-allowed;}
label{ display: inline-block;}
abbr[title]{ cursor: help;}
ul{list-style: none; padding: 0; }

@font-face {
     font-family: proxima;
     src: url(../fonts/Proxima-Nova-Regular.woff2);
     font-weight: 400;
     font-display: swap;
}

@font-face {
     font-family: proxima;
     src: url(../fonts/Proxima-Nova-Bold.woff2);
     font-weight: 700;
     font-display: swap;
}

@font-face {
     font-family: proxima;
     src: url(../fonts/Proxima-Nova-Thin.woff2);
     font-weight: 100;
     font-display: swap;
}

html{ font-size: 15px;
     --red:#ca3c3c;
     --ff:proxima, sans-serif;
}
body{
     font:100 16px var(--ff);
}
.reg{ font-weight: 400; }
.container{
     max-width: 1200px;
     margin: auto;
     padding: 0 1rem;
}
.thin{ font-weight: 100;}

.row{ display: flex; flex-flow: row wrap; margin:  0 -1rem; }

[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem; }

.col-1{ flex-basis:calc(1/12 * 100%); max-width: calc(1/12 * 100%); }
.col-2{ flex-basis:calc(2/12 * 100%); max-width: calc(2/12 * 100%); }
.col-3{ flex-basis:calc(3/12 * 100%); max-width: calc(3/12 * 100%); }
.col-4{ flex-basis:calc(4/12 * 100%); max-width: calc(4/12 * 100%); }
.col-5{ flex-basis:calc(5/12 * 100%); max-width: calc(5/12 * 100%); }
.col-6{ flex-basis:calc(6/12 * 100%); max-width: calc(6/12 * 100%); }
.col-7{ flex-basis:calc(7/12 * 100%); max-width: calc(7/12 * 100%); }
.col-8{ flex-basis:calc(8/12 * 100%); max-width: calc(8/12 * 100%); }
.col-9{ flex-basis:calc(9/12 * 100%); max-width: calc(9/12 * 100%); }
.col-10{ flex-basis:calc(10/12 * 100%); max-width: calc(10/12 * 100%); }
.col-11{ flex-basis:calc(11/12 * 100%); max-width: calc(11/12 * 100%); }
.col-12{ flex-basis:calc(12/12 * 100%); max-width: calc(12/12 * 100%); }
.flex{ display: flex;}
.align-center{ align-items: center;}
.justify-right{ justify-content: right;}
.justify-center{ justify-content: center;}
.justify-space-bet{ justify-content: space-between;}

/*Leout*/

/*header*/

header{
     background: #05254d;
     color: #fff;
     position: sticky; 
     top: 0; 
}
header .col-1{
     text-align: center;
}
header .col-1 ul{
     margin: 5px;
}
header .col-1 li{
     margin: 5px;
}
header .col-1 i{
     color: #fff;
     font-size: 30px;
     margin-top: 10px;
     padding: 5px;
}
header .col-10{
     background-color: #ed1c24;
     margin-left: 0px;
}
header nav img{
     padding-left: 13px;
     margin-bottom: 10px;
     
}
header nav .images{
     background-color: #ed1c24;
     border-radius: 33px;
     margin-left: -7px;
}
header nav .col-2 li{
     margin-right: 12px;
}
header nav ul{
     display: flex;
     margin: 20px 0px 4px 140px;
}
header nav ul li{
     margin: 5px 9px -40px 9px;
     
}
header nav ul li a{
     color: #fff;
     font-size: 15px;
     padding: 5px;
}

/*ware1*/

.ware1{
     width: 100%;
     height: 500px;
     background-size: cover
}
.ware1 .h1button h1{
     color: #fff;
     font-size: 65px;
     margin: 110px 0px 0px 135px;
}
.ware1 .h1button .bun1{
     width: 125px;
     height: 42px;
     background-color: #ed1c24;
     color: #fff;
     border: none;
     font-size: 15px;
     margin: 25px 0px 0px 155px;
     padding: 5px;
}
.ware1 .h1button .bun2{
     width: 125px;
     height: 42px;
     background-color: #fff;
     color: #000;
     border: none;
     font-size: 15px;
     margin: 25px 0px 0px 15px;
     padding: 5px;
}

/*ware2*/


.ware2{
     width: 100%;
     height: 350px;
     background-size: cover
}
.ware2 .images img{
     width: 100%;
     height: auto;
     background-size: cover;
}
.ware2 .h2pbun h2{
     color: #000;
     font-size: 35px;
     border-bottom: 10px solid #ed1c24 ;
     border-radius: 9px;
     margin: 45px 175px 0px 0px;
}
.ware2 .h2pbun p{
     color: #000;
     font-size: 14px;
     margin-top: 30px;
}
.ware2 .h2pbun .bun3{
     width: 160px;
     height: 45px;
     background-color:#05254d;
     color: #fff;
     border: none;
     font-size: 15px;
     margin: 25px 0px 0px 15px;
     padding: 5px;
}

/*ware3*/

.ware3{
     width: 100%;
     height: 350px;
     background-size: cover
}
.ware3 .images img{
     width: 100%;
     height: auto;
     background-size: cover;
     margin-top: 40px;
}
.ware3 .h2pbun h2{
     color: #000;
     font-size: 28px;
     margin: 85px 0px 0px 30px;
}
.ware3 .h2pbun p{
     color: #000;
     font-size: 13px;
     margin: 13px 0px 0px 30px;
}
.ware3 .h2pbun .bun4{
     width: 180px;
     height: 45px;
     background-color:#05254d;
     color: #fff;
     border: none;
     font-size: 15px;
     margin: 25px 0px 0px 35px;
     padding: 5px;
}

/*ware4*/

.ware4{
     width: 100%;
     height: 435px;
     background-size: cover
}
.ware4 .col-3{
     margin-top: 70px;
}
.ware4 .imgh4pbun-set{
     text-align: center;
}
.ware4 .imgh4pbun-set img{
     margin-top: 18px;
}
.ware4 .imgh4pbun-set h4{
     color: #000;
     font-size: 17px;
     margin-top: 13px;
}
.ware4 .imgh4pbun-set p{
     color: #000;
     font-size: 14px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.ware4 .imgh4pbun-set .imgh4p-1{
     background-color: #fff;
     border-radius: 15px;
}
.ware4 .imgh4pbun-set .imgh4p-2{
     background-color: #fff;
     border-radius: 15px;
}
.ware4 .imgh4pbun-set .imgh4p-3{
     background-color: #fff;
     border-radius: 15px;
}
.ware4 .imgh4pbun-set .bun5{
     width: 160px;
     height: 45px;
     background-color:#05254d;
     color: #fff;
     border: none;
     font-size: 15px;
     margin-top: 20px;
     padding: 5px;
}
.ware4 .imgh4pbun-set .bun6{
     width: 160px;
     height: 45px;
     background-color:#ed1c24;
     color: #fff;
     border: none;
     font-size: 15px;
     margin-top: 20px;
     padding: 5px;
}
.ware4 .imgh4pbun-set .bun7{
     width: 160px;
     height: 45px;
     background-color:#05254d;
     color: #fff;
     border: none;
     font-size: 15px;
     margin-top: 20px;
     padding: 5px;
}
/*ware5*/

.ware5{
     width: 100%;
     height: 700px;
     background-color: #f7e7e7;
     background-size: cover
}
.ware5 .h2pairagraf h2{
     color: #000;
     font-size: 38px;
     margin-top: 45px;
     text-align: center;
}
.ware5 .h2pairagraf p{
     color: #000;
     font-size: 18px;
     margin-top: 15px;
     text-align: center;
}
.ware5 .imgbunh3p-set{
     text-align: center;
}
.ware5 .imgbunh3p-set-1{
     background-color: #fff;
}
.ware5 .imgbunh3p-set-2{
     background-color: #fff;
}
.ware5 .imgbunh3p-set-3{
     background-color: #fff;
}
.ware5 .imgbunh3p-set .imagesbun {
     width: 100%;
     height: 199px;
     background-size: cover;
     margin-top: 40px;
}
.ware5 .imgbunh3p-set h3{
     color: #000;
     font-size: 25px;
     margin-top: 15px;
}
.ware5 .imgbunh3p-set p{
     color: #000;
     font-size: 13px;
     padding: 15px 0px 65px 0px;
}
.ware5 .imgbunh3p-set .bun8{
     width: 125px;
     height: 35px;
     background-color:#ed1c24;
     color: #fff;
     border: none;
     font-size: 15px;
     margin-top: 85px;
     padding: 5px;
}
.ware5 .images img{
     float: inline-end;
     margin: -35px 150px 0px 0px;
}


/*ware6*/

.ware6{
     width: 100%;
     height: 620px;
     background-color: #f7e7e7;
     background-size: cover
}
.ware6 .col-12 h1{
     color: #000;
     font-size: 35px;
     text-align: center;
     margin-top: 38px;
}
.ware6 .imgh5psamp img{
     border-radius: 48px;
     margin: -70px 0px 0px 185px;
     float: inline-start;
}
.ware6 .imgh5psamp {
     text-align: center;
     background-color: #fff;
     margin-top: 105px;
}
.ware6 .imgh5psamp h5{
     color: #1b1b1b;
     font-size: 20px;
     text-align: center;
     margin-top: 25px;
     padding-top: 65px;
}
.ware6 .imgh5psamp p{
     color: #1b1b1b;
     font-size: 17px;
     margin-top: 15px;
}
.ware6 .imgh5psamp samp{
     color: #1b1b1b;
     font-size: 90px;
}

/*ware7*/

.ware7{
     width: 100%;
     height: 235px;
     background-size: cover
}
.ware7 .inputbun{
     text-align: center;
}
.ware7 .inputbun input{
     width: 710px;
     height: 55px;
     background: none;
     font-size: 14px;
     margin-top: 70px;
     padding-left: 20px;
     border-radius: 27px;
     border-color: #f7e7e781;
}
.ware7 .inputbun .bun9{
     width: 260px;
     height: 50px;
     background-color:#0a264a;
     color: #fff;
     border: none;
     font-size: 15px;
     margin-top: 25px;
     padding: 5px;
     border-radius: 25px;
}

/*footer*/

footer{
     background-color: #000;
}
footer .col-2{
     margin-top: 65px;
}
footer .col-3{
     margin-top: 65px;
}
footer .h3ancrteg h3{
     color: #fff;
     font-size: 20px;
}
footer .h3ancrteg ul{
     margin-top: 20px;
}
footer .h3ancrteg ul li{
     padding: 5px 5px 5px 5px;
}
footer .h3ancrteg ul li a{
     color: #fff;
     font-size: 14px;
}
footer .h3peiragraf h3{
     color: #fff;
     font-size: 20px;
}
footer  .peiragraf p{
     color: #fff;
     font-size: 14px;
     margin-top: 28px;
}
footer .h3iconpeiragraf h3{
     color: #fff;
     font-size: 20px;
}
footer .iconpeiragraf-1{
     margin-top: 28px;
}
footer .iconpeiragraf-2{
     margin-top: 10px;
}
footer .iconpeiragraf-3{
     margin-top: 10px;
}
footer .h3iconpeiragraf p{
     color: #fff;
     font-size: 13px;
}
footer .h3images h3{
     color: #fff;
     font-size: 20px;
}
footer .h3images img{
     width: 100%;
     height: auto;
     margin-top: 25px;
}
footer .hrpairagraf hr{
     text-align: center;
     width: 60%;
     margin: 20px 0px 0px 225px;
}
footer .hrpairagraf p{
     color: #fff;
     font-size: 16px;
     text-align: center;
     margin: 20px 0px 25px 0px;
}